$base-space-unit: 1em;

// navigation

$nav-background-color-odd : #545654;
$nav-background-color-even : #4e514e;

$app-card-border-radius : 3px;
$app-background-color : #f4f4f4;

$app-btn-primary-color-background : #0fc19e;
$app-btn-primary-color : white;

$card-color-author :  #88898a;
$card-color-author-secondary : #aaa;
$card-color-border : white;
$card-color-background : white;