$base-space-unit: 1em;

// navigation

$nav-background-color-odd : #545654;
$nav-background-color-even : #4e514e;


$app-background-color : #f4f4f4;

$card-color-author :  #88898a;
$card-color-author-seconday : #aaa;