<div id="honeymoonPhotography">
  <div id="leader-picture" class="relative">
    <div id="leader-message-wrapper" class="relative">
      <h1 class="text-center">Memories for Lifetime</h1>
      <p>That honeymoon phase is so much fun in real life, when you meet and discover somebody new and fall in love and chase
        them. The pursuit. And that climactic final moment of ultimate togetherness</p>
    </div>
  </div>
  <div id="price">
    <!--price tab-->
    <div class="plan">
      <div class="plan-inner">
        <div class="entry-title">
          <h3>Sigma</h3>
          <div class="price"><i class="fa fa-rupee"></i>5K<span>/PER DAY</span>
          </div>
        </div>
        <div class="entry-content">
          <ul>
            <li><strong>1 </strong>Location</li>
            <li><strong>10 </strong>Pictures</li>
            <li><strong>No </strong>Props</li>
            <li><strong>No </strong>Cancellation</li>
          </ul>
        </div>
        <a class="app-btn app-btn-primary margin-top-half" routerLink="/contact">Book Now</a>
      </div>
    </div>
    <!-- end of price tab-->
    <!--price tab-->
    <div class="plan basic">
      <div class="plan-inner">
        <div class="hot">hot</div>
        <div class="entry-title">
          <h3>Delta</h3>
          <div class="price"><i class="fa fa-rupee"></i>10K<span>/PER DAY</span>
          </div>
        </div>
        <div class="entry-content">
          <ul>
            <li><strong>2 </strong>Location</li>
            <li><strong>25 </strong>Pictures</li>
            <li><strong>Free </strong>Props</li>
            <li><strong>No </strong>Cancellation</li>
          </ul>
        </div>
        <a class="app-btn app-btn-primary margin-top-half" routerLink="/contact">Book Now</a>
      </div>
    </div>
    <!-- end of price tab-->
    <!--price tab-->
    <div class="plan standard">
      <div class="plan-inner">
        <div class="entry-title">
          <h3>Zeta</h3>
          <div class="price"><i class="fa fa-rupee"></i>25K<span>/PER DAY</span>
          </div>
        </div>
        <div class="entry-content">
          <ul>
            <li><strong>5 </strong>Location</li>
            <li><strong>60 </strong>Pictures</li>
            <li><strong>Free </strong>Props</li>
            <li><strong>Free </strong>Cancellation</li>
          </ul>
        </div>
        <a class="app-btn app-btn-primary margin-top-half" routerLink="/contact">Book Now</a>
      </div>
    </div>
    <!-- end of price tab-->
    <!--price tab-->
    <div class="plan ultimite">
      <div class="plan-inner">
        <div class="entry-title">
          <h3>Alpha</h3>
          <div class="price"><i class="fa fa-rupee"></i>50K<span>/PER DAY</span>
          </div>
        </div>
        <div class="entry-content">
          <ul>
            <li><strong>Multiple </strong>Location</li>
            <li><strong>Unlimited </strong>Pictures</li>
            <li><strong>Free </strong>Props</li>
            <li><strong>Free </strong>Cancellation</li>
          </ul>
        </div>
        <a class="app-btn app-btn-primary margin-top-half" routerLink="/contact">Book Now</a>
      </div>
    </div>
    <!-- end of price tab-->
  </div>
  <div id="contact-wrapper" class="relative">
    <div id="contact" class="relative">
      <h4>Hassle free booking process to get you a photographer easily.</h4>
      <h1>Hire a Snapper Now</h1>
      <a class="app-btn app-btn-primary book-now-position" routerLink="/contact">Book Now</a>
    </div>
  </div>
  <div class="row card-how-it-works-wrapper padding-top-two padding-bottom-two">
    <div class="col-md-3 card-how-it-works">
      <img class="icon" src="../../assets/images/icons/professional.png" />
      <h3 class="label margin-bottom-one">All Professionals</h3>
      <p class="description">All our photographers are highly qualified professionals, well spoken, and are locals, who have knowledge of spots
        and specialities.</p>
    </div>
    <div class="col-md-3 card-how-it-works">
      <img class="icon" src="../../assets/images/icons/time.png" />
      <h3 class="label margin-bottom-one">Always on Time</h3>
      <p class="description">We know you are either on a holiday, or planning a celebration and that doesn't mean time is not important. We follow
        our schedule tight and be there on time always.</p>
    </div>
    <div class="col-md-3 card-how-it-works">
      <img class="icon" src="../../assets/images/icons/location2.png" />
      <h3 class="label margin-bottom-one">At your Location</h3>
      <p class="description">Just tell us where are you today, and where do you need to have the shoot, we will be happy to snap you there.</p>
    </div>
    <div class="col-md-3 card-how-it-works">
      <img class="icon" src="../../assets/images/icons/edit.png" />
      <h3 class="label margin-bottom-one">Free Edits</h3>
      <p class="description">Generally, we snap some best shots, that you love naturally. To add beauty to them, we offer complimentary editing
        of your snaps too.</p>
    </div>
  </div>
  <div id="facebook-like-wrapper">
    <div id="facebook-like" class="relative">
      <h4>Check out what our Fans say about our service on Facebook.</h4>
      <h1>Like us on Facebook</h1>
      <!--START TESTIMONIALS-->
      <div class="tesimonials-container">
        <input type="radio" name="nav" id="first" checked/>
        <input type="radio" name="nav" id="second" />
        <input type="radio" name="nav" id="third" />

        <label for="first" class="first"></label>
        <label for="second" class="second"></label>
        <label for="third" class="third"></label>

        <div class="one slide">
          <blockquote>
            <span class="leftq quotes">&ldquo;</span> Our honeymoon was made more memorable by PickPhotographers. Planning
            to book their services for all my future trips.<span class="rightq quotes">&bdquo; </span>
          </blockquote>
          <img class="testimonial-image" src="/assets/images/HoneymoonComponent/AnkithaAnand.jpg"/>
          <h2>Ankitha Anand</h2>
          <h6>Manager at My Bank</h6>
        </div>

        <div class="two slide">
          <blockquote>
            <span class="leftq quotes">&ldquo;</span> They provide great quality photographers with good knowledge of local
            spots, which translates into excellent pictures.<span class="rightq quotes">&bdquo; </span>
          </blockquote>
          <img class="testimonial-image" src="/assets/images/HoneymoonComponent/SurajSingh.jpg"/>
          <h2>Suraj Singh</h2>
          <h6>Developer Relations at Mark Studios</h6>
        </div>

        <div class="three slide">
          <blockquote>
            <span class="quotes leftq"> &ldquo;</span>Our travel photographer came to our hotel right on time and clicked as many photos as we asked him to in different locations. He also processed the pics and delivered the same day.<span class="rightq quotes">&bdquo; </span>
          </blockquote>
          <img class="testimonial-image" src="/assets/images/HoneymoonComponent/AaravTandon.jpg" />
          <h2>Aarav Tandon</h2>
          <h6>CEO Woof Web Design Studios</h6>
        </div>


      </div>
      <!--END TESTIMONIALS-->
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2"></script>
      <div class="fb-page" data-href="https://www.facebook.com/pickphotographers" data-tabs="timeline" data-small-header="false"
        data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/pickphotographers" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/pickphotographers">Pick Photographers</a></blockquote>
      </div>
    </div>
  </div>

</div>