<div id="honeymoonPhotography">
  <div id="leader-picture">
    <div>
      <h3>Memories for Lifetime</h3>
      <p>That honeymoon phase is so much fun in real life, when you meet and discover somebody new and fall in love and chase
        them. The pursuit. And that climactic final moment of ultimate togetherness</p>
    </div>
  </div>
  <div id="contact-wrapper" class="relative">
    <div id="contact" class="relative">
      <h4>Hassle free booking process to get you a photographer easily.</h4>
      <h1>Hire a Snapper Now</h1>
      <a class="app-btn app-btn-primary" routerLink="/contact">Book Now</a>
    </div>
  </div>
  <div class="row card-how-it-works-wrapper padding-top-two padding-bottom-two">
    <div class="col-md-3 card-how-it-works">
      <img class="icon" src="../../assets/images/icons/professional.png" />
      <h3 class="label margin-bottom-one">All Professionals</h3>
      <p class="description">All our photographers are highly qualified professionals, well spoken, and are locals, who have knowledge of spots
        and specialities.</p>
    </div>
    <div class="col-md-3 card-how-it-works">
      <img class="icon" src="../../assets/images/icons/time.png" />
      <h3 class="label margin-bottom-one">Always on Time</h3>
      <p class="description">We know you are either on a holiday, or planning a celebration and that doesn't mean time is not important. We follow
        our schedule tight and be there on time always.</p>
    </div>
    <div class="col-md-3 card-how-it-works">
      <img class="icon" src="../../assets/images/icons/location2.png" />
      <h3 class="label margin-bottom-one">At your Location</h3>
      <p class="description">Just tell us where are you today, and where do you need to have the shoot, we will be happy to snap you there.</p>
    </div>
    <div class="col-md-3 card-how-it-works">
      <img class="icon" src="../../assets/images/icons/edit.png" />
      <h3 class="label margin-bottom-one">Free Edits</h3>
      <p class="description">Generally, we snap some best shots, that you love naturally. To add beauty to them, we offer complimentary editing
        of your snaps too.</p>
    </div>
  </div>
  <div id="facebook-like-wrapper">
    <div id="facebook-like" class="relative">
      <h4>Check out what our Fans say about our service on Facebook.</h4>
      <h1>Like us on Facebook</h1>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2"></script>
      <div class="fb-page" data-href="https://www.facebook.com/pickphotographers" data-tabs="timeline" data-small-header="false"
        data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/pickphotographers" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/pickphotographers">Pick Photographers</a></blockquote>
      </div>
    </div>
  </div>
</div>