<div id="admin">
  <div class="row">
      <div id="admin-left" class="col-md-3">
        <a class="app-btn app-btn-primary" [routerLink]="['/admin/contactRequest']">Contact Request</a>
        <a class="app-btn app-btn-primary" [routerLink]="['/admin/newPhotographerRequest']">New Photographer Request</a>
        <a class="app-btn app-btn-primary" [routerLink]="['/admin/newPhotographerRequest']">Photographers</a>
      </div>
      <div id="admin-right" class="col-md-9">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>