@import "../../_variables";
#header {
  .row-nav {
      margin: 0;
    .dark-black {
      background-color: $nav-background-color-odd;
    }
    .clean-black {
      background-color: $nav-background-color-even;
    }
    div {
      height: 150px;
      padding: 0 10px;
      a {
          color: white;
          text-decoration: none;
      }
                .active-link{
              background-color: #0fc19e !important;
          }
    }
  }
}

