@import "../../_variables";
#header {
  .nav-wrapper {
    .logo-wrapper {
      .logo {
        color: $app-color-primary;
        margin-left: 2rem;
        text-decoration: none;
        .first {
          margin-left: 1rem;
        }
        .second {
          font-family: MontserratBold;
          color: $app-color-secondary;
        }
      }
    }
  }
  .row-nav {
    margin: 0; // active-link for present nav menu
    .active-link {
      background-color: #0fc19e !important;
    }
    .dark-black {
      background-color: $nav-background-color-odd;
    }
    .clean-black {
      background-color: $nav-background-color-even;
    }
    div {
      height: 150px;
      padding: 0 10px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #header {
    .nav-wrapper {
      height: 100px;
      .logo-wrapper{
        .logo{
          margin-left: 3rem;
        }
      }
      .display-none-mobile {
        display: none;
      }
      .signup {
        position: absolute;
        top: 70px;
        right: 18%;
      }
      .login {
        position: absolute;
        top: 70px;
        left: 22%;
      }
    }
    .row-nav {
      div {
        width: 50%;
        float: left;
        height: 80px;
        a {
          font-size: 15px;
        }
      }
    }
  }
}

