@import "../../_variables";
#header {
  .nav-wrapper {
    .logo-wrapper {
      .logo {
        color: $app-color-primary;
        margin-left: 2rem;
        text-decoration: none;
        .first {
          margin-left: 1rem;
        }
        .second {
          font-family: MontserratBold;
          color: $app-color-secondary;
        }
      }
    }
  }
  .display-none-web {
    display: none;
  }
  .row-nav {
    margin: 0; // active-link for present nav menu
    .active-link {
      background-color: #0fc19e !important;
    }
    .dark-black {
      background-color: $nav-background-color-odd;
    }
    .clean-black {
      background-color: $nav-background-color-even;
    }
    div {
      height: 150px;
      padding: 0 10px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #header {
    .nav-wrapper {
      height: 30px;
      .logo-wrapper {
        .logo {
          margin-left: 2.3rem;
          font-size: 20px;
        }
      }
      .display-none-mobile {
        display: none;
      }
      .signup {
        position: absolute;
        top: 70px;
        right: 18%;
        display: inline;
      }
      .login {
        position: absolute;
        top: 70px;
        left: 22%;
      }
    }
    .display-none-web {
      display: block;
      height: 150px;
      overflow: auto;
      .left {
        width: 50%;
        float: left;
        position: relative;
        left: -22%;
        .dropdown {
          button {
            padding: 10px 5px;
          }
          .dropdown-menu {
            top: 7px !important;
            position: absolute;
            left: 0;
          }
        }
      }
      .right {
        width: 50%;
        position: relative;
        left: 14%;
        .dropdown {
          .dropdown-menu {
            top: 7px !important;
            position: absolute;
            left: -26% !important;
          }
          button {
            padding: 10px 5px;
          }
        }
      }
      .mobile-sub-navigation {
        font-size: 19px;
        margin-top: 80px;
        .mobile-nav-wrapper {
          width: 80%;
          margin: 0 auto;
          .mobile-nav {
            width: 33%;
            float: left;
          }
        }
      }
    }
    .row-nav {
      div {
        width: 50%;
        float: left;
        height: 80px;
        a {
          font-size: 15px;
        }
      }
    }
  }
}
