<div id="contact">
  <div id="contact-wrapper">
    <div class="row contact-card margin-none">
      <div class="col-md-6 contact-card-left">
        <div class="row">
          <div class="col-md-2">
            <img class="icon-logo" src="../../assets/images/icons/location.png" />
          </div>
          <div class="col-md-10">
            <h2>Address</h2>
            <p class="margin-none">Pick Photographers</p>
            <p class="margin-none">Bengaluru</p>
            <p class="margin-none">Karnataka</p>
          </div>
        </div>
        <div class="row margin-top-two">
          <div class="col-md-2">
            <img class="icon-logo" src="../../assets/images/icons/email.png" />
          </div>
          <div class="col-md-10">
            <h2>Email</h2>
            <p>Photographers@yahoo.com</p>
          </div>
        </div>
        <div class="row margin-top-two">
          <div class="col-md-2">
            <img class="icon-logo" src="../../assets/images/icons/mobile.png" />
          </div>
          <div class="col-md-10">
            <h2>Mobile</h2>
            <p>+91 1234567890</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 contact-card-right">
        Form
      </div>
    </div>
  </div>
</div>