<a class="app-btn app-btn-primary" routerLink="/">Home</a>
<div id="singup">
    <div class="card-singup padding-one">
        <h2 class="signup-header">{{accountHeader}}</h2>
        <form [formGroup]='signupForm' (ngSubmit)="createPhotographer(signupForm)">
            <div class="photographer-image relative">
                    <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="importFile($event)" style="display:none"
                    accept="image/*">
                    <img class="img-thumbnail pointer" (click)="fileUpload.click()" *ngIf="profilePicture" [src]="profilePicture"
                    />
                    <img class="img-thumbnail pointer" (click)="fileUpload.click()" *ngIf="!profilePicture" src="../../assets/images/placeholder_person.png"
                    />
            </div>
            <div class="row margin-bottom-one">
                <div class="col-md-4">
                    <label class="label" for="username">User Name *</label>
                    <input formControlName="username" id="username" class="form-control item" type="text" name="username" placeholder="iamjohn">
                    <div class="error-message-wrapper" *ngIf="signupForm.controls['username'].touched && !signupForm.controls['username'].valid">
                        <span class="error-message" *ngIf="signupForm.controls['username'].hasError('required')"> {{errorMessage.required}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['username'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.usernameMinLength}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['username'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.usernameMaxLength}}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="label" for="firstName">First Name *</label>
                    <input formControlName="firstName" id="firstName" class="form-control item" type="text" name="firstName" placeholder="John">
                    <div class="error-message-wrapper" *ngIf="signupForm.controls['firstName'].touched && !signupForm.controls['firstName'].valid">
                        <span class="error-message" *ngIf="signupForm.controls['firstName'].hasError('required')"> {{errorMessage.required}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['firstName'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.firstNameMinLength}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['firstName'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.firstNameMaxLength}}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="label" for="lastName">Last Name *</label>
                    <input formControlName="lastName" id="lastName" class="form-control item" type="text" name="lastName" placeholder="Hayden">
                    <div class="error-message-wrapper" *ngIf="signupForm.controls['lastName'].touched && !signupForm.controls['lastName'].valid">
                        <span class="error-message" *ngIf="signupForm.controls['lastName'].hasError('required')"> {{errorMessage.required}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['lastName'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.lastNameMinLength}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['lastName'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.lastNameMaxLength}}</span>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom-one">
                <div class="col-md-4">
                    <label class="label" for="phoneNumber">Mobile</label>
                    <input formControlName="phoneNumber" id="phoneNumber" class="form-control item" type="text" name="phoneNumber" placeholder="7760051883">
                    <div class="error-message-wrapper" *ngIf="signupForm.controls['phoneNumber'].touched && !signupForm.controls['phoneNumber'].valid">
                        <span class="error-message" *ngIf="signupForm.controls['phoneNumber'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.phoneNumberMinLength}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['phoneNumber'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.phoneNumberMaxLength}}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="label" for="location">Location</label>
                    <input formControlName="location" id="location" class="form-control item" type="text" name="location" placeholder="London">
                    <div class="error-message-wrapper" *ngIf="signupForm.controls['location'].touched && !signupForm.controls['location'].valid">
                        <span class="error-message" *ngIf="signupForm.controls['location'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.locationMinLength}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['location'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.locationMaxLength}}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="label" for="sex">Sex</label>
                    <select formControlName="sex" id="sex" class="form-control item" name="sex">
                        <option *ngFor="let s of sex">{{ s}}</option>
                      </select>
                </div>
            </div>
            <div class="row margin-bottom-one">
                <div class="col-md-7">
                    <label class="label" for="email">Email *</label>
                    <input formControlName="email" id="email" class="form-control item" type="text" name="email" placeholder="a@b.com">
                    <div class="error-message-wrapper" *ngIf="signupForm.controls['email'].touched && !signupForm.controls['email'].valid">
                        <span class="error-message" *ngIf="signupForm.controls['email'].hasError('required')"> {{errorMessage.required}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['email'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.emailMinLength}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['email'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.emailMaxLength}}</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <label class="label" for="dob">DOB</label>
                     <input formControlName="dob" id="dob"  type="date" name="dob" class="form-control item" max="3000-12-31" min="1000-01-01" >
                </div>
            </div>
            <div class="row margin-bottom-one">
                <div class="col-md-12">
                    <label class="label" for="about">About Me *</label>
                    <textarea formControlName="about" id="about" class="form-control item aboutme" type="text" name="about" placeholder="about me"></textarea>
                    <div class="error-message-wrapper" *ngIf="signupForm.controls['about'].touched && !signupForm.controls['about'].valid">
                        <span class="error-message" *ngIf="signupForm.controls['about'].hasError('required')"> {{errorMessage.required}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['about'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.aboutMinLength}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['about'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.aboutMaxLength}}</span>
                    </div>
                </div>
            </div>
            <div class="margin-bottom-one">
                <label class="label" for="facebookLink">FaceBook Link</label>
                <input formControlName="linkFacebook" id="facebookLink" class="form-control item" type="text" name="facebookLink" placeholder="https://www.facebook.com/[username]">
                <div class="error-message-wrapper" *ngIf="signupForm.controls['linkFacebook'].touched && !signupForm.controls['linkFacebook'].valid">
                    <span class="error-message" *ngIf="signupForm.controls['linkFacebook'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.socailLinkMinLength}}</span>
                    <span class="error-message" *ngIf="signupForm.controls['linkFacebook'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.socailLinkMaxLength}}</span>
                </div>
            </div>
            <div class="margin-bottom-one">
                <label class="label" for="instagramLink">Instagram Link</label>
                <input formControlName="linkInstagram" id="instagramLink" class="form-control item" type="text" name="instagramLink" placeholder="https://www.instagram.com/[username]">
                <div class="error-message-wrapper" *ngIf="signupForm.controls['linkInstagram'].touched && !signupForm.controls['linkInstagram'].valid">
                    <span class="error-message" *ngIf="signupForm.controls['linkInstagram'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.socailLinkMinLength}}</span>
                    <span class="error-message" *ngIf="signupForm.controls['linkInstagram'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.socailLinkMaxLength}}</span>
                </div>
            </div>
            <div class="margin-bottom-one">
                <label class="label" for="twitterLink">Twitter Link</label>
                <input formControlName="linkTwitter" id="twitterLink" class="form-control item" type="text" name="twitterLink" placeholder="https://twitter.com/[username]">
                <div class="error-message-wrapper" *ngIf="signupForm.controls['linkTwitter'].touched && !signupForm.controls['linkTwitter'].valid">
                    <span class="error-message" *ngIf="signupForm.controls['linkTwitter'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.socailLinkMinLength}}</span>
                    <span class="error-message" *ngIf="signupForm.controls['linkTwitter'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.socailLinkMaxLength}}</span>
                </div>
            </div>
            <div class="margin-bottom-one">
                <label class="label" for="linkedInLink">Linkedin Link</label>
                <input formControlName="linkLinkedIn" id="linkedInLink" class="form-control item" type="text" name="linkedInLink" placeholder="https://www.linkedin.com/in/[username]/">
                <div class="error-message-wrapper" *ngIf="signupForm.controls['linkLinkedIn'].touched && !signupForm.controls['linkLinkedIn'].valid">
                    <span class="error-message" *ngIf="signupForm.controls['linkLinkedIn'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.socailLinkMinLength}}</span>
                    <span class="error-message" *ngIf="signupForm.controls['linkLinkedIn'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.socailLinkMaxLength}}</span>
                </div>
            </div>
            <div class="row margin-bottom-one">
                <div class="col-md-6">
                    <label class="label" for="imageLink">Images Link</label>
                    <input formControlName="photoLink" id="imageLink" class="form-control item" type="text" name="imageLink" placeholder="personal image link">
                    <div class="error-message-wrapper" *ngIf="signupForm.controls['photoLink'].touched && !signupForm.controls['photoLink'].valid">
                        <span class="error-message" *ngIf="signupForm.controls['photoLink'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.photoLinkMinLength}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['photoLink'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.photoLinkMaxLength}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="label" for="videoLink">Videos Link</label>
                    <input formControlName="videoLink" id="videoLink" class="form-control item" type="text" name="videoLink" placeholder="personal video link">
                    <div class="error-message-wrapper" *ngIf="signupForm.controls['videoLink'].touched && !signupForm.controls['videoLink'].valid">
                        <span class="error-message" *ngIf="signupForm.controls['videoLink'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.videoLinkMinLength}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['videoLink'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.videoLinkMaxLength}}</span>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom-one">
                <div class="col-md-12">
                    <label class="label" for="password">Password *</label>
                    <input formControlName="password" id="password" class="form-control item" type="password" name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                    <div class="error-message-wrapper" *ngIf="signupForm.controls['password'].touched && !signupForm.controls['password'].valid">
                        <span class="error-message" *ngIf="signupForm.controls['password'].hasError('required')"> {{errorMessage.required}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['password'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.passwordMinLength}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['password'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.passwordMaxLength}}</span>
                    </div>
                </div>
                <!--<div class="col-md-6">
                    <label class="label" for="confirmPassword">Confirm Password *</label>
                    <input formControlName="confirmPassword" id="confirmPassword" class="form-control item" type="password" name="confirmPassword" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                    <div class="error-message-wrapper" *ngIf="signupForm.controls['confirmPassword'].touched && !signupForm.controls['confirmPassword'].valid">
                        <span class="error-message" *ngIf="signupForm.controls['confirmPassword'].hasError('required')"> {{errorMessage.required}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['confirmPassword'].hasError('matchPassword')">Password Mismtach</span>
                        <span class="error-message" *ngIf="signupForm.controls['confirmPassword'].hasError('minlength')"> {{errorMessage.minlength}} {{validation.passwordMinLength}}</span>
                        <span class="error-message" *ngIf="signupForm.controls['confirmPassword'].hasError('maxlength')">{{errorMessage.maxLength}} {{validation.passwordMaxLength}}</span>
                    </div>
                </div>-->
            </div>
            <div class="row margin-bottom-one mobile-responsive-button">
                <div class="col-md-6 col-xs-6">
                    <button (click)="revert()" class="btn app-btn app-btn-secondary">Reset</button>
                </div>
                <div class="col-md-6 col-xs-6">
                    <button [disabled]="!signupForm.valid" [ngClass]="{'pointer-not-allowed' : !signupForm.valid}" type="submit" class="btn app-btn app-btn-primary right">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>