<div id="new-photographer-request">
  <div class="row">
    <div class="col-md-3 card-left">
      <div class="photographers-card clearfix padding-one pointer"
        [ngClass]="{'selected-photographer' : photographer.photographersId == selectedPhotographer.photographersId}"
        (click)="setPhotographer(photographer)" *ngFor="let photographer of photographers">
        <img class="img-thumbnail left margin-right-one photographers-photo-size" *ngIf="photographer.profilePicture"
          [src]="'data:image/jpg;base64,'+photographer.profilePicture" />
        <img class="img-thumbnail left margin-right-one photographers-photo-size" *ngIf="!photographer.profilePicture"
          src="../../assets/images/placeholder_person.png" />
        <span class="author">{{photographer.firstName}} {{photographer.lastName}}</span>
      </div>
    </div>
    <div class="col-md-9 card-right">
      <div class="selected-photographer margin-bottom-one" *ngIf="selectedPhotographer">
        <div class="card card-info padding-two">
          <img class="img-thumbnail" *ngIf="selectedPhotographer.profilePicture"
          [src]="'data:image/jpg;base64,'+selectedPhotographer.profilePicture" />
        <img class="img-thumbnail" *ngIf="!selectedPhotographer.profilePicture"
          src="../../assets/images/placeholder_person.png" />
          <p class="name text-center margin-top-one">{{selectedPhotographer.firstName}} {{selectedPhotographer.lastName}}</p>
          <p class="username text-center margin-bottom-one">@{{selectedPhotographer.userName}}</p>
          <div class="row details">
            <span class="col-md-6" *ngIf="selectedPhotographer.location"><i
                class="fa fa-map-marker margin-right-half"></i>{{selectedPhotographer.location}}</span>
            <span class="col-md-6" *ngIf="!selectedPhotographer.location"><i
                class="fa fa-map-marker margin-right-half"></i>Not Mentioned</span>
            <span class="col-md-6" *ngIf="selectedPhotographer.dob"><i
                class="fa fa-birthday-cake margin-right-half"></i>{{selectedPhotographer.dob}}</span>
            <span class="col-md-6" *ngIf="!selectedPhotographer.dob"><i
                class="fa fa-birthday-cake margin-right-half"></i>Not Mentioned</span>
          </div>
          <div class="row details margin-bottom-one">
            <span class="col-md-6" *ngIf="selectedPhotographer.email"><i
                class="fa fa-envelope margin-right-half"></i>{{selectedPhotographer.email}}</span>
            <span class="col-md-6" *ngIf="!selectedPhotographer.email"><i
                class="fa fa-envelope margin-right-half"></i>Not Mentioned</span>
            <span class="col-md-6" *ngIf="selectedPhotographer.phone"><i
                class="fa fa-mobile margin-right-half"></i>{{selectedPhotographer.phone}}</span>
            <span class="col-md-6" *ngIf="!selectedPhotographer.phone"><i class="fa fa-mobile margin-right-half"></i>Not Mentioned</span>
          </div>
          <div class="row details">
            <span class="col-md-12" *ngIf="selectedPhotographer.photoLink"><i
                class="fa fa-link margin-right-half"></i>{{selectedPhotographer.photoLink}}</span>
            <span class="col-md-12" *ngIf="!selectedPhotographer.photoLink"><i
                class="fa fa-link margin-right-half"></i>Not Mentioned</span>
          </div>
          <div class="row details margin-bottom-one">
            <span class="col-md-12" *ngIf="selectedPhotographer.videoLink"><i
                class="fa fa-link margin-right-half"></i>{{selectedPhotographer.videoLink}}</span>
            <span class="col-md-12" *ngIf="!selectedPhotographer.videoLink"><i
                class="fa fa-link margin-right-half"></i>Not Mentioned</span>
          </div>
        </div>
        <div class="card card-about margin-top-one padding-one">
          <p>{{selectedPhotographer.about}}</p>
        </div>
        <div class="card card-contact margin-top-one padding-one">
          <div class="text-center">
            <div>
              <span *ngIf="selectedPhotographer.linkFacebook"><i
                  class="fa fa-facebook margin-right-half"></i>{{selectedPhotographer.linkFacebook}}</span>
              <span *ngIf="!selectedPhotographer.linkFacebook"><i class="fa fa-facebook margin-right-half"></i>Not Mentioned</span>
            </div>
            <div>
              <span *ngIf="selectedPhotographer.linkTwitter"><i
                  class="fa fa-twitter margin-right-half"></i>{{selectedPhotographer.linkTwitter}}</span>
              <span *ngIf="!selectedPhotographer.linkTwitter"><i class="fa fa-twitter margin-right-half"></i>Not Mentioned</span>
            </div>
            <div>
              <span *ngIf="selectedPhotographer.linkInstagram"><i
                  class="fa fa-instagram margin-right-half"></i>{{selectedPhotographer.linkInstagram}}</span>
              <span *ngIf="!selectedPhotographer.linkInstagram"><i class="fa fa-instagram margin-right-half"></i>Not Mentioned</span>
            </div>
            <div>
              <span *ngIf="selectedPhotographer.linkLinkedin"><i
                  class="fa fa-linkedin margin-right-half"></i>{{selectedPhotographer.linkLinkedin}}</span>
              <span *ngIf="!selectedPhotographer.linkLinkedin"><i class="fa fa-linkedin margin-right-half"></i>Not Mentioned</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="photographers.length > 0">
        <button class="app-btn app-btn-primary center"
          (click)="approvePhotographersRequest(selectedPhotographer)">Approve</button>
        <br>
        <button class="app-btn app-btn-secondary center margin-top-one"
          (click)="deletePhotographersRequest(selectedPhotographer)">Delete</button>
      </div>
    </div>
  </div>
</div>