<div id="contact-request">
  <div *ngIf="newContactRequests.length > 0"> 
    <table class="table table-striped margin-top-two">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th>Id</th>
          <th>Category</th>
          <th>Message</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let newContactRequest of newContactRequests">
          <th><input type="checkbox" name="id_number" value="id_number" [(ngModel)]="newContactRequest.checked"></th>
          <td>{{newContactRequest.contactRequestId}}</td>
          <td>{{newContactRequest.contactCategory}}</td>
          <td>{{newContactRequest.message}}</td>
          <td>{{newContactRequest.fullName}}</td>
          <td>{{newContactRequest.email}}</td>
          <td>{{newContactRequest.mobile}}</td>
          <td>{{newContactRequest.entDt | date :'short'}}</td>
        </tr>
      </tbody>
    </table>
    <button class="app-btn app-btn-primary margin-top-two center" *ngIf="newContactRequests.length > 0" (click)="approveContactRequest()">Read</button>
  </div>
  <div *ngIf="newContactRequests.length == 0">
      No Contact Request
  </div>
</div>