<div id="home" class="row app-conatiner">
  <div class="col-md-3 video-wrapper">
    <!--Start Video Cards-->
    <h3>Trending videos</h3>
    <div class="video-card margin-top-half" *ngFor="let videoCard of videoCards">
      <video class="width-full" loop controls muted>
        <source src="../../assets/images/videos/{{videoCard.video}}" type="video/mp4" />
      </video>
      <div class="padding-one clearfix">
        <img class="img-thumbnail left margin-right-one photographers-photo-size" src="../../assets/images/videos_photographers_thumbnail/{{videoCard.photographerImage}}"
        />
        <span class="author block">{{videoCard.photographer}}</span>
        <span class="time block">{{videoCard.time}} hours ago</span>
      </div>
    </div>
    <!--End Video Cards-->
    <!--<a class="app-btn app-btn-primary margin-top-half" routerLink="/videos">More videos</a>-->
  </div>
  <div class="col-md-6 image-wrapper">
    <h3>Five best photographs of the day</h3>
    <div class="image-card margin-top-half" *ngFor="let imageCard of imageCards">
      <div class="padding-one clearfix relative">
        <img class="img-thumbnail left margin-right-one photographers-photo-size" src="{{imageCard.photographerImage}}" />
        <span class="author block margin-top-half">{{imageCard.photographer}}</span>
        <span class="time block">{{imageCard.time}} hours ago</span>
        <div class="dropdown absolute more-info">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" routerLink="/contact">Contact</a></li>
            <li><a class="dropdown-item" routerLink="/contact">Report</a></li>
          </div>
        </div>
      </div>
      <img class="feed-image width-full" src="{{imageCard.photoImage}}" />
      <div class="padding-one text-center">
        <span class="margin-right-one"><i class="fa fa-thumbs-up fa-thumbsup-color margin-right-quater"></i>{{imageCard.likes}}</span>
        <span class="margin-right-one"><i class="fa fa-comment fa-comment-color margin-right-quater"></i>{{imageCard.thumbsup}}</span>
        <span><i class="fa fa-heart fa-heart-color margin-right-quater"></i>{{imageCard.heart}}</span>
      </div>
    </div>
    <a class="app-btn app-btn-primary margin-top-half" routerLink="/images">More images</a>
  </div>
  <div class="col-md-3 photographers-wrapper">
    <h3>Top Snappers</h3>
    <div class="photographers-card clearfix padding-one" *ngFor="let photographer of photographers">
      <img class="img-thumbnail left margin-right-one photographers-photo-size" *ngIf="photographer.profilePicture" [src]="'data:image/jpg;base64,'+photographer.profilePicture"
      />
      <img class="img-thumbnail left margin-right-one photographers-photo-size" *ngIf="!photographer.profilePicture" src="../../assets/images/placeholder_person.png"
      />
      <span class="author">{{photographer.firstName}} {{photographer.lastName}}</span>
    </div>
    <a class="app-btn app-btn-primary margin-top-half" routerLink="/photographers">View more</a>
  </div>
</div>