@import "../../_variables";
#home {
  .video-wrapper {
    .video-card {
      border: 1px solid $card-color-border;
      border-radius: $app-card-border-radius;
      background: $card-color-background;
      video{
        width: 100%;
      }
      .author {
        color: $card-color-author;
        font-size: 1rem;
        font-family: MontserratSemiBold;
      }
      .time {
        color: $card-color-author-secondary;
        font-size: 0.8rem;
      }
    }
  }
  .image-wrapper {
    .image-card {
      border: 1px solid $card-color-border;
      border-radius: $app-card-border-radius;
      background: $card-color-background;
      .author {
        color: $card-color-author;
        font-size: 1rem;
        font-family: MontserratSemiBold;
      }
      .time {
        color: $card-color-author-secondary;
        font-size: 0.8rem;
      }
      .feed-image{
        width: 100%;
      }
    }
  }
  .photographers-wrapper {
    .photographers-card {
      background-color: $card-color-background;
      .author {
        color: $card-color-author;
        font-size: 1rem;
        font-family: MontserratSemiBold;
      }
    }
  }
}

